@using lkWeb.Service.Dto
@model Sys_TableListDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "编辑表";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var rules = {
                Name: {
                    required: true,
                },
                Description: {
                    required: true,
                },
                IsView: {
                    required: true,
                    number:true,
                }
            }
            $("[data-toggle='tooltip']").tooltip();
            lkWeb.FormValidation("#lkForm", rules, {},function () {
                lkWeb.RefreshAndClose()
            }, "操作成功")
        })

    </script>
}
    <form class="form-horizontal" action="@Url.Action("Edit");" method="post" id="lkForm">
        <input type="hidden" name="Id" value="@Model.Id" />

        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-md-1 control-label">表名</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="Name" value="@Model.Name"/>
            </div>
            <label class="col-md-1 control-label">表说明</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="Description" value="@Model.Description"/>
            </div>
            <label class="col-md-1 control-label">删除表名</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="DeleteTableName" data-toggle="tooltip" title="一般为此表名" value="@Model.DeleteTableName" />
            </div>
            <label class="col-md-1 control-label">详情是否允许</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="AllowDetail" value="@Model.AllowDetail" data-toggle="tooltip" title="1 or 0" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1 control-label">查看是否允许</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="AllowView" value="@Model.AllowView" data-toggle="tooltip" title="1 or 0" />
            </div>
            <label class="col-md-1 control-label">添加是否允许</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="AllowAdd" value="@Model.AllowAdd" data-toggle="tooltip" title="1 or 0" />
            </div>
            <label class="col-md-1 control-label">编辑是否允许</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="AllowEdit" value="@Model.AllowEdit" data-toggle="tooltip" title="1 or 0" />
            </div>
            <label class="col-md-1 control-label">删除是否允许</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="AllowDelete" value="@Model.AllowDelete" data-toggle="tooltip" title="1 or 0" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1 control-label">导入是否允许</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="AllowImport" value="@Model.AllowImport" data-toggle="tooltip" title="1 or 0" />
            </div>
            <label class="col-md-1 control-label">导出是否允许</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="AllowExport" value="@Model.AllowExport" data-toggle="tooltip" title="1 or 0" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">查看,添加编辑宽高</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="ViewEditWidthHeight" value="@Model.ViewEditWidthHeight" data-toggle="tooltip" title="width,height|width,height(单位px或%,非法值默认改为90%)" />
            </div>
            <label class="col-md-1 control-label">添加编辑详情每行列数</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="ColumnPerRow" value="@Model.ColumnPerRow" data-toggle="tooltip" title="例如2" />
            </div>
            <label class="col-md-1 control-label">查询每行列数</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="SearchColumnPerRow" value="@Model.SearchColumnPerRow" data-toggle="tooltip" title="例如2" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1 control-label">导入类型</label>
            <div class="col-md-2">
                @Html.DropDownList("ImportType", (SelectList)ViewBag.ImportTypeList, new { @class = "form-control" })
            </div>
            <label class="col-md-1 control-label">是否视图</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="IsView" value="@Model.IsView"  />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">默认排序条件</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="DefaultSort" value="@Model.DefaultSort"  data-toggle="tooltip" title="例如:Id desc" />
            </div>
            <label class="col-md-1 control-label">允许删除条件</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="ForbiddenDeleteFilter" value="@Model.ForbiddenDeleteFilter"  data-toggle="tooltip" title="例如: Id < 10 可选参数{UserId}" />
            </div>
            <label class="col-md-1 control-label">允许更新条件</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="ForbiddenUpdateFilter" value="@Model.ForbiddenUpdateFilter"  data-toggle="tooltip" title="例如: Id < 10 可选参数{UserId}" />
            </div>
            <label class="col-md-1 control-label">允许添加条件</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="ForbiddenAddFilter" value="@Model.ForbiddenAddFilter"  placeholder="未实现" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-md-1 control-label">默认过滤条件</label>
            <div class="col-md-2">
                <input type="text" class="form-control" name="DefaultFilter" value="@Model.DefaultFilter"  data-toggle="tooltip" title="例如: Id != 1000" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">批量操作</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="BatchOperation" value="@Model.BatchOperation"  data-toggle="tooltip" title="例如: IsTop|是否置顶,Hide|是否隐藏 IsTop为表中字段" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">列扩展方法</label>
            <div class="col-md-7">
                <textarea class="form-control" name="ExtendFunction" rows="3" data-toggle="tooltip" title="{Id}为Id,{UserId}为UserId">@Model.ExtendFunction</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">顶部扩展方法</label>
            <div class="col-md-7">
                <textarea class="form-control" name="TopExtendFunction" rows="3" data-toggle="tooltip" title="{Id}为Id,{UserId}为UserId">@Model.TopExtendFunction</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">列表页JS</label>
            <div class="col-md-7">
                <textarea class="form-control" name="ListPageJavaScript" rows="3" data-toggle="tooltip">@Model.ListPageJavaScript</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">添加页JS</label>
            <div class="col-md-7">
                <textarea class="form-control" name="AddPageJavaScript" rows="3" data-toggle="tooltip">@Model.AddPageJavaScript</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">编辑页JS</label>
            <div class="col-md-7">
                <textarea class="form-control" name="EditPageJavaScript" rows="3" data-toggle="tooltip">@Model.EditPageJavaScript</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">详情页JS</label>
            <div class="col-md-7">
                <textarea class="form-control" name="DetailPageJavaScript" rows="3" data-toggle="tooltip">@Model.DetailPageJavaScript</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-1 control-label">自定义CSS</label>
            <div class="col-md-7">
                <textarea class="form-control" name="CustomCssStyle" rows="3" data-toggle="tooltip">@Model.CustomCssStyle</textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-3 col-md-offset-5">
                <button type="submit" class="btn btn-success">确定</button>
                <button type="button" class="btn btn-default" onclick="lkWeb.Close()">返回</button>
            </div>
        </div>
    </form>