@using lkWeb.Service.Dto
@using lkWeb.Service.Enum;
@model Sys_TableColumnDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "编辑列";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var rules = {
                Name: {
                    required: true,
                },
                Description: {
                    required: true,
                },
            }
            $("[data-toggle='tooltip']").tooltip();
            lkWeb.FormValidation("#lkForm", rules, {}, function () {
                lkWeb.RefreshAndClose()
            }, "操作成功")
        })

    </script>
}
<form class="form-horizontal" action="@Url.Action("Edit");" method="post" id="lkForm">
    <input type="hidden" name="Id" value="@Model.Id" />

    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-md-1 control-label">所属表</label>
        <div class="col-md-2">
            @Html.DropDownList("TableId", (SelectList)ViewBag.TableList, new { @class = "form-control select" })
        </div>
        <label class="col-md-1 control-label">列名称</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="Name" value="@Model.Name" />

        </div>
        <label class="col-md-1 control-label">列说明</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="Description" value="@Model.Description" />
        </div>
        <label class="col-md-1 control-label">数据类型</label>
        <div class="col-md-2">
            @Html.DropDownList("DataType", (SelectList)ViewBag.DataTypeList, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-1 control-label">日期格式</label>
        <div class="col-md-2">
            @Html.DropDownList("DateFormat", new SelectList(DateFormat.list, "Value", "Text"), new { @class = "form-control" })
        </div>
        <label class="col-md-1 control-label">默认值</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="DefaultValue" value="@Model.DefaultValue" />
        </div>
        <label class="col-md-1 control-label">是否主键</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="PrimaryKey" data-toggle="tooltip" title="目前只导入导出用到" value="@Model.PrimaryKey" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">是否必填</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="Required" value="@Model.Required" />
        </div>
        <label class="col-md-1 control-label">输入控制</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="MaxLength" data-toggle="tooltip" title="最大长度" value="@Model.MaxLength" />
        </div>
        <label class="col-md-1 control-label">列宽</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="ColumnWidth" data-toggle="tooltip" title="例如:100px或10%" value="@Model.ColumnWidth" />
        </div>
        <label class="col-md-1 control-label">跨列</label>
        <div class="col-md-2">
            <input type="number" class="form-control" name="ColSpan" data-toggle="tooltip" title="例如:2或3" value="@Model.ColSpan" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-1 control-label">详情显示顺序</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="ViewOrder" value="@Model.ViewOrder" />
        </div>
        <label class="col-md-1 control-label">列表显示顺序</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="ListOrder" value="@Model.ListOrder" />
        </div>
        <label class="col-md-1 control-label">添加编辑显示顺序</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="EditOrder" value="@Model.EditOrder" />
        </div>
        <label class="col-md-1 control-label">验证规则</label>
        <div class="col-md-2">
            @Html.DropDownList("ValidationRule", new SelectList(ValidationRule.list, "Value", "Text"), new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-1 control-label">导入是否可见</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="ImportVisible" value="@Model.ImportVisible" />
        </div>
        <label class="col-md-1 control-label">导出是否可见</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="ExportVisible" value="@Model.ExportVisible" />
        </div>
        <label class="col-md-1 control-label">详情是否可见</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="ViewVisible" value="@Model.ViewVisible" />
        </div>
        <label class="col-md-1 control-label">添加是否可见</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="AddVisible" value="@Model.AddVisible" />
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-1 control-label">查询是否可见</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="SearchVisible" value="@Model.SearchVisible" />
        </div>
        <label class="col-md-1 control-label">编辑是否可见</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="EditVisible" value="@Model.EditVisible" />
        </div>
        <label class="col-md-1 control-label">列表是否可见</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="ListVisible" value="@Model.ListVisible" />
        </div>

    </div>

    <div class="form-group">
        <label class="col-md-1 control-label">外部SQL</label>
        <div class="col-md-7">
            <textarea class="form-control" name="OutSql" rows="3" data-toggle="tooltip"
                      title="out列类型:例如Id,Name|Sys_Activity|id>0|1|Sys_DeptActivity|DeptId,ActivityId (主键,显示列名|表名|条件|是否保存到它表|保存表名,当前表外键名,Out表外键名)">@Model.OutSql</textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">自定义内容</label>
        <div class="col-md-7">
            <textarea class="form-control" name="CustomContent" value="@Model.CustomContent" rows="3" data-toggle="tooltip" title="可选参数{UserId} {Id}"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-1 control-label">枚举值范围</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="EnumRange" value="@Model.EnumRange" data-toggle="tooltip" title="例如 模块,菜单,按钮" />
        </div>
        <label class="col-md-1 control-label">多选值范围</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="SelectRange" value="@Model.SelectRange" data-toggle="tooltip" title="例如 1,选项1|2,选项2|3,选项3" />
        </div>


    </div>

    <div class="form-group">
        <label class="col-md-1 control-label">禁止上传文件类型</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="ForbiddenFileExtension" value="@Model.ForbiddenFileExtension" data-toggle="tooltip" title="例如 aspx|rar|jpg" />
        </div>
        <label class="col-md-1 control-label">文件最低上传数</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="UploadMinimum" value="@Model.UploadMinimum" />
        </div>
        <label class="col-md-1 control-label">文件最大上传数</label>
        <div class="col-md-2">
            <input type="text" class="form-control" name="UploadMaximum" value="@Model.UploadMaximum" />
        </div>

    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-5">
            <button type="submit" class="btn btn-success">确定</button>
            <button type="button" class="btn btn-default" onclick="lkWeb.Close()">返回</button>
        </div>
    </div>
</form>