@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "添加菜单";
}
@section Scripts{

    <script src="~/lib/bootstrap-suggest-plugin/dist/bootstrap-suggest.min.js"></script>
    <script type="text/javascript">

        $(function () {
            var rules = {
                Name: {
                    required: true,
                },
                Icon: {
                    required: true,
                },
                SubSystemId: {
                    required: true,
                },
                ParentId: {
                    required: true,
                },
                Url: {
                    required: true,
                },
                ListOrder: {
                    required: true,
                    number:true,
                },
            }
            lkWeb.FormValidation("#lkForm", rules, {}, function () {
                lkWeb.RefreshAndClose()
            }, "操作成功")

            $("#menuList").focusin(function () {
                 $("#menuList").bsSuggest('init', {
                    allowNoKeyword: !0,
                    multiWord: !0,
                    showHeader: !0,
                    effectiveFieldsAlias: {
                        id: "Id",
                        name: "名称",
                        typeName: "类型",
                        url: "URL地址"
                    },
                    effectiveFields: ["id", "name", "typeName", "url"],
                    getDataMethod: "url",
                    url: "@Url.Action("GetList", "Menu")?searchKey=", //最后一个参数为关键字请求参数
                    idField: "id",
                    keyField: "name"
                }).on('onDataRequestSuccess', function (e, result) {

                }).on('onSetSelectValue', function (e, keyword, data) {
                     $("#txtParentId").val(keyword.id);
                }).on('onUnsetSelectValue', function () {
                 });
            })
 
        })



        function ViewIcon() {
            var url = " http://www.fontawesome.com.cn/faicons/";
            lkWeb.OpenLayer(url, "图标库", "80%", "500px");
        }
    </script>
}
<form class="form-horizontal" action="@Url.Action("Add", new { id = 0 })" method="post" id="lkForm">
    @Html.AntiForgeryToken()
    <div class="form-group">
        <label class="col-md-3 control-label">所属子系统</label>
        <div class="col-md-7">
            @Html.DropDownList("SubSystemId", (MultiSelectList)ViewBag.subSystem, new { @class = "form-control select", multiple = "multiple" })
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">上级菜单</label>
        <div class="col-md-7">
            <div class="input-group">
                <input name="ParentId" type="hidden" id="txtParentId" value="@ViewBag.ParentId" />
                <input class="form-control" type="text" autocomplete="off" id="menuList" value="@ViewBag.ParentName" />
                <div class="input-group-btn">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle>
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu"></ul>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">菜单名称</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="Name" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">菜单地址</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="Url" />
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">菜单图标</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="Icon" />
            <button class="btn btn-sm btn-info" style="margin:3px;" type="button" onclick="ViewIcon()">查看图标库</button>
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-3 control-label">排序</label>
        <div class="col-md-7">
            <input type="text" class="form-control" name="ListOrder" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-3 col-md-offset-3">
            <button type="submit" class="btn btn-success">确定</button>
            <button type="button" class="btn btn-default" onclick="lkWeb.Close()">返回</button>
        </div>
    </div>
</form>