@using lkWeb.Service.Dto
@model UserDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Body.cshtml";
    ViewBag.RealName = Model.RealName;
    ViewBag.UserId = Model.Id;
}
@section Scripts{
    <script>
        $(function () {
            InitDataTable();
            InitDataTable_1();
            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });
            $(".checkAll-1").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild-1").prop("checked", check);
            });
        })
        function DeleteRole(roleId) {
            var data = { UserID:@ViewBag.UserId,RoleIds: [] }
            data.RoleIds.push(roleId);
            $.ajax({
                          url: "@Url.Action("DeleteRole", "User")",
                          type: "post",
                          dataType: "json",
                          data: { dto:data},
                          async: false,
                          success: function (data) {
                              if (data.flag == true)
                              {
                                  ReloadDataTable();
                              }
                              else {
                                  parent.layer.alert("操作失败");
                              }
                          },
                           err: function (err) {
                              console.log(err);
                          }

                     })

        }
        function AuthRole(roleId) {
             var data = { UserID:@ViewBag.UserId,RoleIds: [] }
             data.RoleIds.push(roleId);
             $.ajax({
                          url: "@Url.Action("AuthRole", "User")",
                          type: "post",
                          dataType: "json",
                          data: { dto:data},
                          async: false,
                          success: function (data) {
                              if (data.flag == true)
                              {
                                  ReloadDataTable();
                              }
                              else {
                                  parent.layer.alert("操作失败");
                              }
                          },
                           err: function (err) {
                              console.log(err);
                          }

                     })
        }
        function ReloadDataTable() {
            table_not_role.fnReloadAjax(table_not_role.fnSettings());
            table_has_role.fnReloadAjax(table_has_role.fnSettings());
        }
        //已拥有的角色
        var table_has_role;
        function InitDataTable() {
            var dataUrl = '@Url.Action("GetMyRoles")?Id=' + @ViewBag.UserId;
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rolename", "sClass": "text-center" },
                { "mData": "delete", "sClass": "text-center", "bSortable": false }

            ];
            table_has_role = lkWeb.LoadTable("table_has_role",columns,dataUrl)
        }

            //未拥有的角色
        var table_not_role;
         function InitDataTable_1() {
       var dataUrl = '@Url.Action("GetNotMyRoles")?Id=' + @ViewBag.UserId;
            $.fn.dataTableExt.sErrMode = 'throw';
            var columns = [
                {
                    "sClass": "text-center",
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild-1"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rolename", "sClass": "text-center" },
                { "mData": "auth", "sClass": "text-center", "bSortable": false }

            ];
            table_not_role = lkWeb.LoadTable("table_not_role", columns,dataUrl)
        }
    </script>
}
<div class="data-content" style="padding:15px 0 0 15px;">
    <h2>用户授权</h2>
    <hr />
    <div>
        <h3>@ViewBag.RealName 已拥有的角色</h3>
        <table class="table table-striped table-hover" id="table_has_role">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="checkAll" />
                    </th>
                    <th>角色名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <hr />
    <div>
        <h3>@ViewBag.RealName 未拥有的角色</h3>
        <table class="table table-striped table-hover" id="table_not_role">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="checkAll-1" />
                    </th>
                    <th>角色名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>