@using lkWeb.Service.Dto
@model UserDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Body.cshtml";
    ViewBag.RealName = Model.RealName;
    ViewBag.UserId = Model.Id;
}
@section Scripts{
    <script>
        $(function () {
            InitDataTable();
            InitDataTable_1();
            $(".checkAll").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild").prop("checked", check);
            });
            $(".checkAll-1").click(function () {
                var check = $(this).prop("checked");
                $(".checkChild-1").prop("checked", check);
            });
        })
        function DeleteRole(roleId) {
            var data = { UserID:@ViewBag.UserId,RoleIds: [] }
            data.RoleIds.push(roleId);
            $.ajax({
                          url: "@Url.Action("DeleteRole", "User")",
                          type: "post",
                          dataType: "json",
                          data: { dto:data},
                          async: false,
                          success: function (data) {
                              if (data.flag == true)
                              {
                                  alert("成功");
                              }
                              else {
                                  alert("失败");
                              }
                          },
                           err: function (err) {
                              console.log(err);
                          }

                     })

        }
        function AuthRole(roleId) {
             var data = { UserID:@ViewBag.UserId,RoleIds: [] }
             data.RoleIds.push(roleId);
             $.ajax({
                          url: "@Url.Action("AuthRole", "User")",
                          type: "post",
                          dataType: "json",
                          data: { dto:data},
                          async: false,
                          success: function (data) {
                              if (data.flag == true)
                              {
                                  alert("成功");
                              }
                              else {
                                  alert("失败");
                              }
                          },
                           err: function (err) {
                              console.log(err);
                          }

                     })
        }
        //已拥有的角色
        var table_has_role;
        function InitDataTable() {
            var url = '@Url.Action("GetMyRoles")?userId=' + @ViewBag.UserId;
            $.fn.dataTableExt.sErrMode = 'throw';

            var config = {
            "processing": true,
            "bInfo": true, //是否显示是否启用底边信息栏
            "sAjaxSource": url,
             'autoWidth': true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sProcessing": "请求数据中......",
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sSearch": "搜索",
                "oPaginate": {
                    "sFirst": "<button type=\"button\" class=\"btn btn-primar\" >首页</button>",
                    "sPrevious": "<button type=\"button\" class=\"btn btn-primar\" >上一页</button>",
                    "sNext": "<button type=\"button\" class=\"btn btn-primar\" >后一页</button>",
                    "sLast": "<button type=\"button\" class=\"btn btn-primar\" >尾页</button>"
                }
            },
            "sZeroRecords": "没有检索到数据",
            "retrieve": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "aoColumns": [
                {
                    "sClass": "text-center",
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rolename", "sClass": "text-center" },
                { "mData": "delete", "sClass": "text-center", "bSortable": false }

            ],
            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi'
            },
            'order': [[1, 'asc']]
        };
            table_has_role = $("#table_has_role").dataTable(config);
        }

            //未拥有的角色
        var table_not_role;
         function InitDataTable_1() {
       var url = '@Url.Action("GetNotMyRoles")?userId=' + @ViewBag.UserId;
            $.fn.dataTableExt.sErrMode = 'throw';

            var config = {
            "processing": true,
            "bInfo": true, //是否显示是否启用底边信息栏
            "sAjaxSource": url,
             'autoWidth': true,
            "sPaginationType": "full_numbers",
            "oLanguage": {
                "sProcessing": "请求数据中......",
                "sLengthMenu": "每页显示 _MENU_ 条记录",
                "sZeroRecords": "抱歉， 没有找到",
                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                "sInfoEmpty": "没有数据",
                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                "sSearch": "搜索",
                "oPaginate": {
                    "sFirst": "<button type=\"button\" class=\"btn btn-primar\" >首页</button>",
                    "sPrevious": "<button type=\"button\" class=\"btn btn-primar\" >上一页</button>",
                    "sNext": "<button type=\"button\" class=\"btn btn-primar\" >后一页</button>",
                    "sLast": "<button type=\"button\" class=\"btn btn-primar\" >尾页</button>"
                }
            },
            "sZeroRecords": "没有检索到数据",
            "retrieve": true,
            "paging": true,
            "ordering": true,
            "info": true,
            "aoColumns": [
                {
                    "sClass": "text-center",
                    "mData": "id",
                    "mRender": function (data, type, row) {
                        return '<input type="checkbox" class="checkChild"  value="' + data + '" />';
                    },
                    "bSortable": false
                },
                { "mData": "rolename", "sClass": "text-center" },
                { "mData": "auth", "sClass": "text-center", "bSortable": false }

            ],
            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true
                    }
                }
            ],
            'select': {
                'style': 'multi'
            },
            'order': [[1, 'asc']]
        };
            table_not_role = $("#table_not_role").dataTable(config);
        }
    </script>
}
<div class="data-content" style="padding:15px 0 0 15px;">
    <h2>用户授权</h2>
    <hr />
    <div>
        <h3>@ViewBag.RealName 已拥有的角色</h3>
        <table class="table table-striped table-hover" id="table_has_role">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="checkAll" />
                    </th>
                    <th>角色名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
    <hr />
    <div>
        <h3>@ViewBag.RealName 未拥有的角色</h3>
        <table class="table table-striped table-hover" id="table_not_role">
            <thead>
                <tr>
                    <th>
                        <input type="checkbox" class="checkAll-1" />
                    </th>
                    <th>角色名称</th>
                    <th>操作</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>

</div>