@using lkWeb.Service.Dto
@model Sys_ValueListDto
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "编辑角色";
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            var rules = {
                Name: {
                    required: true,
                },
                Value: {
                    required: true,
                },
                ListOrder: {
                    number: true,
                },
            }
            lkWeb.FormValidation("#lkForm", rules, {}, function () {
                lkWeb.RefreshAndClose()
            }, "操作成功")
        })

    </script>
}
    <form class="form-horizontal" action="@Url.Action("Edit");" method="post" id="lkForm">
        <input type="hidden" name="Id" value="@Model.Id" />

        @Html.AntiForgeryToken()
        <div class="form-group">
            <label class="col-md-3 control-label">上级</label>
            <div class="col-md-7">
                @Html.DropDownList("ParentId", (SelectList)ViewBag.parents, new { @class = "form-control select" })
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">名称</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="Name" value="@Model.Name" />
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">代码</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="Code" value="@Model.Code"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">值</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="Value" value="@Model.Value"/>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">描述</label>
            <div class="col-md-7">
                <textarea type="text" class="form-control" name="Description" rows="3">"@Model.Description</textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3 control-label">排序</label>
            <div class="col-md-7">
                <input type="text" class="form-control" name="ListOrder" value="@Model.ListOrder"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3">
                <button type="submit" class="btn btn-success">确定</button>
                <button type="button" class="btn btn-default" onclick="lkWeb.Close()">返回</button>
            </div>
        </div>
    </form>