@using lkWeb.Areas.Admin.Models
@using lkWeb.Service.Enum;
@using System.Text;
@using System.Text.Encodings.Web;
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout_Content.cshtml";
    ViewBag.Title = "编辑数据";
}
@model ViewListModel

@section Styles{
    <style type="text/css">
        .table > tbody > tr > td {
            border: none;
        }
    </style>
    <style type="text/css">
     @Html.Raw(Model.Table.EditPageCssStyle)
    </style>
}
@section Scripts{

    <script type="text/javascript">
        @Html.Raw(Model.Table.EditPageJavaScript)

        $(function () {
            lkWeb.FormValidation($("#lkForm"), function () {
                lkWeb.RefreshAndClose()
            })

            //下拉单选
            $('.chosen-radio').chosen({
                ltl: true,
                width: "100%",
            });

            //下拉多选
            $('.chosen-checkbox').attr('data-placeholder', '请选择')
            $('.chosen-checkbox').chosen({
                allow_single_deselect: true,
                width: "100%",
            });

            //选择日期
            $('.datepicker-date').datePicker({
                hasShortcut: true,
                format: 'YYYY-MM-DD',
                shortcutOptions: [{
                    name: '今天',
                    day: '0'
                }, {
                    name: '昨天',
                    day: '-1'
                }, {
                    name: '一周前',
                    day: '-7'
                }]
            });
            //选择日期时间
            $('.datepicker-datetime').datePicker({
                format: 'YYYY-MM-DD HH:mm'
            });
        })
        function uploadFile(fileInputId, inputId, columnId) {
            lkWeb.Upload(fileInputId, '@Url.Action("Upload")', { 'id': columnId }, function (result) {
                $("#" + inputId).val(result.data)
                })
        }
    </script>
}
<form class="form-horizontal" action="@Url.Action("Edit")" method="post" id="lkForm">
    @Html.AntiForgeryToken()
    <table class="table">
        <tbody>
            @{
                string selectTpl = "<div class=\"form-group\"><div class=\"\">" +
            "<label class=\"col-md-2 control-label\">{0}</label>" +
            "<div class=\"col-md-9\"> {1} </div></div></div>";
                string inputTemplate = "<div class=\"form-group\"><div class=\"\">" +
        "<label class=\"col-md-2 control-label\">{0}</label>" +
        "<div class=\"col-md-9\">" +
        "<input type=\"text\" class=\"form-control\" name=\"{1}\" value=\"{2}\" data-val-required=\"{0}不能为空\" {4} data-val-maxlength=\"{0}长度不能超过{3}个字符\" data-val-maxlength-max=\"{3}\" data-val=\"true\"/>" +
        "<span class=\"field-validation-valid\" data-valmsg-for=\"{1}\" data-valmsg-replace=\"true\"></span></div> " +
        "</div></div>";
                string dateTpl =
                  "<div class=\"form-group\">" +
      "<label class=\"col-md-2 control-label\">{0}</label>" +
      "<div class=\"col-md-9\">" +
                  "<div class=\"c-datepicker-date-editor c-datepicker-single-editor {1}\">" +
" <i class=\"c-datepicker-range__icon kxiconfont icon-clock\"></i>" +
"<input type = \"text\" autocomplete=\"off\" name=\"{2}\" placeholder=\"选择{3}\" data-val=\"true\" {4}  class=\"c-datepicker-data-input only-date\" value=\"{5}\" style=\"width:100%;\"></div>" +
              "<span class=\"field-validation-valid\" data-valmsg-for=\"{2}\" data-valmsg-replace=\"true\"></span></div></div>";
                StringBuilder sb = new StringBuilder();
                var numPerRow = Model.Table.ColumnPerRow < 1 ? 1 : Model.Table.ColumnPerRow;
                var count = 0;
                sb.Append("<tr>");
                foreach (var column in Model.TableColumn)
                {
                    count++;
                    sb.Append($"<td style='width: {Math.Round(100.0 / numPerRow, 2)}%;'>");
                    if (column.DataType == ColumnType.Out || column.DataType == ColumnType.Enum)
                    {
                        var content = Html.DropDownList(column.Name, (SelectList)ViewData[column.Name], new { @class = "form-control chosen-radio" });
                        var writer = new System.IO.StringWriter();
                        content.WriteTo(writer, HtmlEncoder.Default);
                        var sltHtml = writer.ToString();
                        sb.Append(string.Format(selectTpl, column.Description, sltHtml));
                    }
                    else if (column.DataType == ColumnType.CheckBox)
                    {
                        var htmlAttr = new Object();
                        htmlAttr = new { @class = "form-control chosen-checkbox", multiple = "multiple", id = "chosen-" + column.Name };
                        var content = Html.DropDownList(column.Name, (MultiSelectList)ViewData[column.Name], htmlAttr);

                        var writer = new System.IO.StringWriter();
                        content.WriteTo(writer, HtmlEncoder.Default);
                        var sltHtml = writer.ToString();
                        sb.Append(string.Format(selectTpl, column.Description, sltHtml));
                    }
                    else if (column.DataType == ColumnType.Date || column.DataType == ColumnType.Datetime)
                    {
                        string _class = column.DataType == "Date" ? "datepicker-date" : "datepicker-datetime";
                        string type = column.DataType == "Date" ? "日期" : "时间";
                        sb.Append(string.Format(dateTpl, column.Description, _class, column.Name, type,
                            column.Required == 1 ? "data-val-required=\"" + column.Description + "不能为空\"" : "", ViewBag.ColumnValue[column.Name]));

                    }
                    else if (column.DataType == ColumnType.File)
                    {
                        sb.Append(string.Format(inputTemplate, column.Description, column.Name, ViewBag.ColumnValue[column.Name],
                        column.MaxLength, $" readonly placeholder='请选择文件' id='{column.Name}'" +
                        (column.Required == 1 ? "data-val-required=\"" + column.Description + "不能为空\"" : "")
                        + $" onclick=\"$('#file{column.Name}').click()\" "));
                        sb.Append($"<input type='file' id='file{column.Name}' onchange='uploadFile(\"file{column.Name}\",\"{column.Name}\",\"{column.Id}\")' style='display:none;'/>");
                    }
                    else
                    {
                        sb.Append(string.Format(inputTemplate, column.Description, column.Name, ViewBag.ColumnValue[column.Name], column.MaxLength,
                        column.ValidationRule + $" placeholder='请输入{column.Description}' " + (column.Required == 1 ? " data-val-required=\"" + column.Description + "不能为空\"" : "")));
                    }
                    sb.Append("</td>");
                    if (count % numPerRow == 0)
                    {
                        sb.Append("</tr>");
                        sb.Append("<tr>");
                    }
                }
                sb.Append("</tr>");
                @Html.Raw(sb.ToString());
            }

        </tbody>
        <tfoot>
            <tr>
                <td colspan="99">
                    <div class="form-group">
                        <div class="col-md-3 col-md-offset-5">
                            <button type="submit" class="btn btn-success">确定</button>
                            <button type="button" class="btn btn-default" onclick="lkWeb.Close()">返回</button>
                        </div>
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</form>