<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <!--Jquery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jQuery.Form/jquery.form.js"></script>

    <!--Bootstrap-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />

    <!--Datatables-->
    <link href="~/lib/DataTables/src/datatables.min.css" rel="stylesheet" />
    <script src="~/lib/DataTables/src/datatables.min.js"></script>
    <script src="~/lib/DataTables/src/pdfmake.min.js"></script>
    <script src="~/lib/DataTables/src/vfs_fonts.js"></script>

    <!--Layer-->
    <script src="~/lib/layer/build/layer.js"></script>
    <link href="~/lib/layer/build/skin/default/layer.css" rel="stylesheet" />

    <script src="~/js/lkWeb.js"></script>
    <link href="~/css/site.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

</head>
<body>
    <div class="ibox">
        <div class="ibox-title">
            <h5>@ViewBag.Title</h5>
        </div>
        <div class="ibox-contnet">
            @RenderBody()
        </div>
    </div>
    @RenderSection("Scripts", false)
</body>
</html>
